.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #116d70;
  color: white;
}


.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.svgLogo {
  display: inline-block;
  overflow: visible;
  font-size: inherit;
  width: 1.25em;
  vertical-align: -0.3em;
}

.layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

h5{
  font-weight: normal;
}

.login {
  text-align: center;
}

.button {
  position: absolute;
}

.layout .explanation .stepArrow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 50px;
}

.layout .explanation .stepBegin{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 60px;
}

.layout .explanation .stepLogin{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 70px;
}

.layout .explanation .stepQrcode{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 70px;
}

.layout .explanation .stepCheck{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 80px;
}

.layout .explanation .stepAccept{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 50px;
}

.layout .explanation .stepCelebrate{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 70px;
}

.layout .explanation .step5{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 60px;
}

.layout .explanation .step6{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 60px;
}

.layout .explanation .step7{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 60px;
}

.layout .explanation .step .svg{
  position: relative;
}

.layout .explanation .step .explanationstepdescription{
  vertical-align: center;
}


.welcome h2, p {
  text-align: center;
}

.login-container {
  width: 50%;
  margin: 0 25%;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 0.8rem;
}

button {
  color: #444;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 0.8rem;
  outline: none;
}

button:disabled {
  color: #f3f3f3;
  background-color: #444;
  cursor: not-allowed;
}

.orange {
  color:orange;
}

.purple {
  color:purple;
}

.rate-container {
  margin-top: 20px;
  border-top: 2px solid purple;
}

.rate-container .fa-star {
  font-size: 1.8rem;
  cursor: pointer;
}

.movie-item {
  display: grid;
  grid-template-columns: 1fr auto auto;;
}

.movie-item svg {
  font-size: 1.2rem;
  margin: 16px 5px;
}

h1 {
  color: orange;
}

h1 .fa-film {
  color: white;
  transform: rotate(30deg);
}

.fa-trash {
  color: crimson;
}

.fa-sign-out-alt {
  position: absolute;
  top: 20px;
  right: 20px; 
  cursor: pointer;
  font-size: 1.5rem;
}